configuration {
disable-history: false;
display-Network: " 󰤨 Network";
display-drun: "  Apps ";
display-run: "  Run ";
display-window: "  Window";
drun-display-format: "{icon} {name}";
font: "Lilex Nerd Font 15";
hide-scrollbar: true;
location: 0;
modi: "run,drun,window";
show-icons: true;
sidebar-mode: true;
terminal: "kitty";
xoffset: 0;
yoffset: 0;
}
@theme "./catppuccin-macchiato.rasi"
